/* </> Lukas Eder */

/* -- @cookie -- */

.cookie {
    position: fixed;
    display: block;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.6);
    bottom: 0;
    z-index: 1000;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% { background: rgba(255, 255, 255, 0.6); }
    50% { background: rgba(255, 255, 255, 0.8); }
    100% { background: rgba(255, 255, 255, 0.6); }
}

.cookie-wrapper {
    position: relative;
    width: 485px;
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0 ;
}

.cookie-wrapper>p {
    display: inline-block;
    font-size: 18px;
    margin: 0 10px 0 0;
}

.cookie-wrapper>p>a {
    display: inline-block;
    text-decoration: none;
    color: #05004c;
}


@media only screen and (max-width: 768px) {
    .cookie-wrapper {
        margin: 0;
    }
    .cookie-wrapper>p {
        display: block;
    }
}

