/* </> Lukas Eder */

/* -- @header -- */

header {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background: #05004c;
}


.header-area-nav-left {
    position: absolute;
    display: block;
    left: 0;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 20px;
}

.header-logo>a>.logo {
    width: 42px;
    height: 42px;
    background: url('../img/logo/logo-white.png') no-repeat top center;
    background-size: 42px 42px;
}

.header-area-nav {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 60px;
}

.header-area-nav-right {
    position: absolute;
    display: block;
    right: 0;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px 0 0;
}

.header-nav>ul>li>a {
    color: #fff;
    margin: 0 0 0 10px;
    font-size: 18px;
}

.header-nav>ul>li>a:last-child {
    color: #fff;
    margin: 0 0 0 20px;
}

.header-area-avatar {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.header-area-avatar {
    width: 300px;
    height: 300px;
    background: url("../img/avatar/avatar.jpg") no-repeat center top;
    background-size: 300px auto;
    border: 4px solid #fff;
    border-radius: 100%;
}

.header-area-scroll {
    position: absolute;
    bottom: 0;
    margin: 10px 0 10px 0;
    left: 50%;
    transform: translateX(-50%);
    animation: swing 1.5s infinite;
}
.header-area-scroll>a {
    color: #fff;
}

@keyframes swing {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: 0;
    }
}
@-webkit-keyframes swing {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: 0;
    }
}
@-moz-keyframes swing {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: 0;
    }
}
@-ms-keyframes swing {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: 0;
    }
}

/* -- @menu -- */

.menu {
    z-index: 10000;
    display: block;
    position: fixed;
    width: 25%;
    height: 100vh;
    top: 0;
    right: -100%;
    background: #fff;
    border-left: 1px solid #eee;
}
.menu-header {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
}


.menu-header-area-nav {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 60px;
}

.menu-header-area-nav-right {
    position: absolute;
    display: block;
    right: 0;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px 0 0;
}

.menu-nav{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menu-nav>ul>li>a {
    display: block;
    padding: 10px 0 10px 0;
    font-size: 18px;
    color: #212121;
}

.question-mark {
    font-style: normal;
    color: #05004c;
    font-size: 24px;
    padding: 0 10px 0 5px;
}

.menu-nav-top {
    color: #05004c !important;
}

@media only screen and (max-width: 768px) {
    .menu {
        width: 100%;
        border: none;
    }
}
