/* </> Lukas Eder */

/* General */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    background-color: #77628C;
}

/* Tools */

.inline-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.inline-list>li {
    display: inline;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

/* Cookies */

.cookie {
    display: none;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX( -50%);
    padding: 10px;
    margin: 20px 0 0 0;
    width: 300px;
    height: auto;
    border-radius: 45px;
    background: #fff;
    text-align: center;
}
.cookieText {
    display: inline-block;
    margin: 0 20px 0 0;
}
.cookieText>p {
    display: inline-block;
    color: #77628C;
    font-size: 1.6rem;
}

.cookieAction {
    display: inline-block;
}

.cookieAccept {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 45px;
    background: #77628C;
    color: #fff;
    font-size: 16px;
    font-size: 1.6rem;
}

.cookieDeny {
    display: inline-block;
    color: #77628C;
    font-size: 16px;
    font-size: 1.6rem;
}

/* Wrapper */

.wrapper {
    width: 100%;
    height: 100vh;

}

/* Main */

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar {
    z-index:1;
    width: 300px;
    height: 300px;
    background: url("../img/avatar.jpg") no-repeat center top;
    background-size: 300px auto;
    border: 5px solid #fff;
    border-radius: 100%;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}


footer>ul>li>a {
    font-size: 18px;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    padding: 0 5px 0 5px;
    cursor: pointer;
}

/* Sidebar */


.link-sidebar {
    z-index: 10000;
    top: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.link-sidebar-main>ul>li>a {
    text-decoration: none;
    font-size: 2.2rem;
    color: #77628C !important;
}

.link-sidebar-footer>ul>li>a {
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0 5px 0 5px;
    color: #77628C !important;
}

.material-icons {
    vertical-align: middle !important;
}
