/* </> Lukas Eder */

/* -- @general -- */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* -- @header -- */

header {
  display: block;
  position: relative;
  height: 220px;
  width: 100%;
}

.logo {
  display: block;
  position: relative;
  margin: 0 auto 0 auto;
  width: 200px;
  height: 200px;
  background: url('../img/logo.png') no-repeat;
  background-size: 200px 200px;
}

/* -- @main -- */

main {
  margin: 0 0 20px 0;
}

article {
  position: relative;
  width: 60%;
  margin: 0 auto 40px auto;
}

h1 {
  font-size: 28px;
  font-size: 2.8rem;
  color: #212121;
  margin: 0 0 20px 0;
}

p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
  color: #212121;
}

a {
  font-size: 18px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #05004c;
}


/* -- @text-tools -- */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

.cancelled {
  text-decoration: line-through;
}

.heading1 {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: bold;
}

.heading2 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
}

.heading3 {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
}

/* -- @media-query -- */

@media only screen and (max-width: 768px) {
  article {
    position: relative;
    width: 80%;
    margin: 0 auto 0 auto;
  }

  .title {
    text-align: center;
  }
}
